<section class="main-header">
  <h1 class="main-header-text">Whisper</h1>
  <p>"Hear the echoes of the void"</p>
</section>


<section class="main-button-area">
  <div class="row">
      <a href="/" class="button button-primary two columns offset-by-two">Home</a>
      <a href="/add" class="button button-primary two columns">New Whisper</a>
      <a href="/myposts" class="button button-primary two columns">My Whispers</a>
      <a href="/logout" class="button button-primary two columns">Log Out</a>
  </div>
</section>

{{#if error}}
<div class="row">
  <h3 class="offset-by-two eight columns button button-error">ERROR: {{error}}</h3>
</div>
{{/if}}

{{#each post}}
<div class="row postbox-main-container">
  <div class="eight columns offset-by-two postbox">

    <section class="titlebox">
      <h3>{{title}}</h3>
    </section>

    <section class="bodybox">
      <p>You hear a whisper...</p>
      <h3>{{body}}</h3>
    </section>

    <section class="authorbox row">
      <p class="button button-primary three columns button-post">User: {{author}}</p>
      <a class="button button-primary four columns button-post" href="#">{{postedTime}}</a>
      <a class="button button-primary one columns button-post likes-counter" href="/like/users/{{id}}">{{Likes.length}}</a>
      <form action="/like/{{id}}" method="post">
        <input class="button button-primary two columns button-post" id="like-button" type="submit" name="" value="Like">
      </form>
      <a class="button button-primary two columns button-post-delete" href="{{id}}/delete">Delete</a>
    </section>
  </div>
</div>
<br>
{{/each}}

<a href="/" class="button six columns button-post offset-by-three back-button">Home</a>
