<section class="main-header">
  <h1 class="main-header-text">Whisper</h1>
  <p>"Hear the echos of the void"</p>
</section>


<section class="main-button-area">
  <div class="row">
      <a href="/" class="button button-primary two columns offset-by-two">Home</a>
      <a href="/add" class="button button-primary two columns">New Whisper</a>
      <a href="/login" class="button button-primary two columns">Log In</a>
      <a href="/logout" class="button button-primary two columns">Log Out</a>
  </div>
</section>

{{#if error}}
<div class="row">
  <h3 class="offset-by-two eight columns button button-error">ERROR: {{error}}</h3>
</div>
{{/if}}

{{#each post}}
<div class="row">
  <div class="eight columns offset-by-two postbox">

    <section class="titlebox">
      <h3>{{title}}</h3>
    </section>

    <section class="bodybox">
      <p>You hear a whisper...</p>
      <h3>{{body}}</h3>
    </section>

    <section class="authorbox row">
      <p class="button button-primary six columns button-post">Whispered by: {{author}}</p>
      <a class="button button-primary two columns button-post" href="#">Like</a>
      <a class="button button-primary two columns button-post" href="#">Edit</a>
      <a class="button button-primary two columns button-post-delete" href="{{id}}/delete">Delete</a>
    </section>
  </div>
</div>
<br>
{{/each}}


<p>TESTING AREA:</p>
<p> Currently logged in as: {{user.username}} </p>






<!-- <div class="row">
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="home">
  </form>
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="New Whisper">
  </form>
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="Log In">
  </form>
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="Log Out">
  </form>
</div> -->
